{%extends 'crud/password/base.html' %} 
{% block content %}

<div class="text-center" style="width: 80%; margin: 0 auto">
    <h1 class="btn btn-primary mt-2" >
        Welcome to the Password Reset Page</h1>
  
  <h3 class="btn btn-info mt-2">
    Forgot your password? Please enter the email address you used to register
    with us and we will send you a link to reset your password
  </h3>
</div>

<br/>

<form action="" method="POST" class="text-center">
  {% csrf_token %}
  {{form}}
  <input type="submit" value="Send email" /><br>
</form><br/>

<div class="text-center">
  <a href="{% url 'log' %}">Return to home page</a>
</div>

{% endblock%}